<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo</title>
</head>
{% if color %}
<body bgcolor="{{ color }}"">
{% else %}
<body bgcolor="green">
{% endif %}
    {% if name %}
        <h1 align="center">Olá {{ name }}!</h1>
    {% else %}
        <h1 align="center">Olá turma</h1>
    {% endif %}
    <h2 align="center">Seja bem vindo a OFICINA DOCKER</h2>
</body>
</html>